h1 {
        font-family: Arial, sans-serif;
        font-size: 72pt;
        margin-top: 20%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}
